<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body{
          text-align: center;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }  
      </style>
</head>
<body>
    <h1>Welcome to Home Page</h1>
    <h3>Example show detail with parameter id:  <a href="./detail/1" rel="noreferrer">Testing</a></h3>
    <p>Page Notfound Example <a href="./detail/" rel="noreferrer">Notfound Page</a></p>
</body>
</html>